body {
  color: #222;
  letter-spacing: 1px; }

a {
  color: #347490; }

p,
footer,
.s_about li {
  color: #999; }

.color_element {
  color: #347490; }

.color_bg {
  background-color: #347490; }

.color_border {
  border-color: #347490; }

.bg_dark {
  background-color: #222;
  color: #999; }
  .bg_dark .s_descr::after {
    background-color: #fff; }
  .bg_dark a {
    color: #fff; }

.bg_lite {
  background-color: #FAFAFA; }

svg path {
  fill: #222; }

.toggle_mnu {
  background-color: #fff; }

.top_mnu a:hover {
  color: #347490;
  background-color: rgba(255, 255, 255, 0.05); }

.top_mnu a {
  letter-spacing: 3px; }

.top_name p {
  color: #FAFAFA;
  letter-spacing: 5px; }

.top_name h1 {
  letter-spacing: 5px; }

.s_descr {
  letter-spacing: 5px; }
  .s_descr::after {
    background-color: #222; }

footer {
  letter-spacing: 2px; }

h3 {
  letter-spacing: 3px;
  color: #999; }

.s_about p:nth-child(even) {
  color: #347490; }

.h2_name {
  letter-spacing: 2px; }

.benefit h3 {
  color: #222;
  letter-spacing: 1px; }

.icon_item {
  color: #347490; }

.s_portfolio li {
  letter-spacing: 1px; }
